.button {
    margin-top: 10px
}

.list-table {
    width: 65%;
    table-layout: fixed;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:not(:first-child) {
    text-align: right;
}

tr td:first-child {
    width: 55%;
}

tr td:nth-child(2) {
    width: 20%;
}

tr td:nth-child(3) {
    width: 15%;
}

tr td:last-child {
    width: 10%;
}
